.custom-card {
  background-color:#E9ECEF;
  margin-top: 28px;
}

table {
  width: 100%;
}

.text-center {
  text-align: center;
}

.description {
  font-size: 0.85em;
  color: #747576;
}

.button {
  display: none;
  text-decoration: none;
  color: #706c6cbf;
}

.button:hover {
  color: black;
}

tr.element-row:hover {
  background: whitesmoke;
  cursor: pointer;

  .button {
    display: inline-block;
  }

  .button:active {
    outline: none;
    border: none;
  }
}
