<form [formGroup]="root" (submit)="submitForm()" autocomplete="off-chrome">
  <mat-card class="custom-card">
    <app-page-header [pageTitle]="pageTitle" [showButton]="false"></app-page-header>

    <div fxLayout="row wrap" fxLayoutGap="16px grid">

      <mat-form-field fxFlex="40" fxFlex.xs="100">
        <mat-label>Nome do lançamento</mat-label>
        <input matInput autocomplete="off" formControlName="nome" />
        <mat-error *ngIf="shouldShowErrorMessage(root.get('nome'))">
          {{getErrorMessage(root.get('nome'))}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria" [compareWith]="compareCategory">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category.nome }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="shouldShowErrorMessage(root.get('categoria'))">
          {{getErrorMessage(root.get('categoria'))}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Valor (R$)</mat-label>  <!-- [imask]="imaskConfig" -->
        <input matInput autocomplete="off" type="text" appInputNumber formControlName="valor" />
        <mat-error *ngIf="shouldShowErrorMessage(root.get('valor'))">
          {{getErrorMessage(root.get('valor'))}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="40" fxFlex.xs="100">
        <mat-label>Descrição do lançamento</mat-label>
        <input type="text" matInput autocomplete="off-chrome" formControlName="descricao" />
        <mat-error *ngIf="shouldShowErrorMessage(root.get('descricao'))">
          {{getErrorMessage(root.get('descricao'))}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20" fxFlex.xs="100">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dataLancamento" autocomplete="off-chrome">
        <mat-error *ngIf="shouldShowErrorMessage(root.get('dataLancamento'))">
          {{getErrorMessage(root.get('dataLancamento'))}}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex="20" fxFlex.xs="100">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipoLancamento">
          <mat-option *ngFor="let opt of typeOptions" [value]="opt.value">
            {{ opt.text }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="shouldShowErrorMessage(root.get('tipoLancamento'))">
          {{getErrorMessage(root.get('tipoLancamento'))}}</mat-error>
      </mat-form-field>

      <section>
        <mat-button-toggle-group style="height: 45px;" [formControl]="root.get('statusLancamento')">
          <mat-button-toggle [value]="true">Pago</mat-button-toggle>
          <mat-button-toggle [value]="false">Pedente</mat-button-toggle>
        </mat-button-toggle-group>
      </section>

      <span fxLayout="row" fxLayoutGap="16px">
        <button mat-raised-button color="primary" type="submit"
          (click)="successMessage()" [disabled]="submittingForm || root.invalid">Salvar</button>
        <button mat-raised-button type="button" (click)="goToEntryList()">Cancelar</button>
      </span>

    </div>

  </mat-card>
</form>
