<form [formGroup]="resourceForm" (submit)="submitForm()">
  <mat-card class="custom-card">
    <app-page-header [pageTitle]="pageTitle" [showButton]="false"></app-page-header>

    <div fxLayout="column wrap" fxLayoutAlign="spapce-between stretch" fxLayoutGap="16px">
      <mat-form-field fxFlex="30" fxFlex.xs="100">
        <mat-label>Nome da categoria</mat-label>
        <input matInput autocomplete="off" formControlName="name" />
        <mat-error *ngIf="shouldShowErrorMessage(resourceForm.get('name'))">
          {{getErrorMessage(resourceForm.get('name'))}}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex fxFlex.xs="100">
        <mat-label>Descrição da categoria</mat-label>
        <input matInput autocomplete="off" formControlName="description" />
      </mat-form-field>

      <span fxLayout="row" fxLayoutGap="16px">
        <button mat-raised-button color="primary" type="submit" [disabled]="submittingForm || resourceForm.invalid"
          (click)="openSnackBar()">Salvar</button>
        <button mat-raised-button type="button" (click)="cancel()">Cancelar</button>
      </span>
    </div>
  </mat-card>
</form>
<div style="height: 100px;"></div>
